<form #appointmentInfoForm='ngForm' (ngSubmit)="getInfo(appointmentInfoForm.value)">
    <div class="rgform">
      <div class="info">
        <p class="title"> Create new appointment </p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" ngModel name="start" #start="ngModel">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Time of appointment</mat-label>
        <input  matInput ngModel name="time" #time="ngModel" placeholder="Time">
        <mat-hint>HH:MM</mat-hint>
      </mat-form-field>
    <button mat-button>Submit</button>
    </div>
</form>
<div class="appointment-right">

  <mat-card *ngFor="let i of bloodCenters" >
          <mat-card-header >Blood Center:{{i.name}}</mat-card-header>
          <mat-card-content>
              City: {{i.address.city}}<br> 
              Rating: {{i.averageScore}}
          </mat-card-content>
          <mat-card-footer> 
              <button mat-button (click)="scheduleRecommended(i.id)">Schedule</button>
          </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-button-toggle-group (change)="onSortOrderChange()" [(ngModel)]="sortAscending">
    <mat-button-toggle value=true>Ascending</mat-button-toggle>
    <mat-button-toggle value=false>Descending</mat-button-toggle>
  </mat-button-toggle-group>

</div>