.rgform{
    float: left;
    padding-left: 5% ;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 42%;
}

.mat-form-field{
    width: 100%;
    padding: 3%;
}

.info{
    justify-content: center;
    margin-left: 3%;
    width: 100%;
    text-align: center;
    
}

.title{
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    display: inline-block;

}

.mat-button{
    float:right;
    width: 25%;
    background-color: rgb(172, 170, 170);
}