<div class="containerbig">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>Date and time</th>
          <td mat-cell *matCellDef="let element">{{ element.appointment.start}}</td>
        </ng-container>
      
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration in hours</th>
          <td mat-cell *matCellDef="let element">{{ element.appointment.duration }}</td>
        </ng-container>
      
        <ng-container matColumnDef="bloodCenter">
          <th mat-header-cell *matHeaderCellDef>Blood center</th>
          <td mat-cell *matCellDef="let element">{{ element.appointment.bloodCenter.name }}</td>
        </ng-container>
      
        <ng-container matColumnDef="medicalStaff">
          <th mat-header-cell *matHeaderCellDef>Medical staff</th>
          <td mat-cell *matCellDef="let element">{{ element.appointment.medicalStaff.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-button
              id="decline-relocation"
              (click)="cancel(element.id)"
            >
              Cancel
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
</div>
