.chpassword
{
    float: center;
    font-size: 2rem;
    margin-left: 20%;
    margin-top: 5%;
}
.mat-form-field{
    width:20%;
    margin-top: 2%;
    margin-left: 20%;
}
.title{
    
    font-size: 1.3rem;
    line-height: 2rem;
}
.mat-button{
    margin: 2%;
}