<mat-toolbar>
    <span><a mat-button class="isabutton" routerLink="" >ISA App
    </a></span>
    <span class="spacer"></span>
        <a mat-button routerLink="/userView" >Users
        </a>
        <a mat-button routerLink="/centerRegister" >Register new blood center
        </a>
        <a mat-button routerLink="/userRegister" >Register
        </a>
        <a mat-button routerLink="/userQuestionnaire">Questionnaire
        </a>
        <a mat-button routerLink="/login">Login
        </a>
        <a mat-button routerLink="/appointments">Available appointments
        </a>
        <a mat-button routerLink="/scheduledAppointments">My appointments
        </a>
        <a mat-button routerLink="/appointmentReports">My reports
        </a>
</mat-toolbar>