<form #adminForm='ngForm' (ngSubmit)="getAdmin(adminForm.value)">
      <div class="rgform">
        <div class="info">
          <p class="title"> Blood center administrator informations</p>
        </div>
        <mat-form-field appearance="legacy">
          <mat-label>Administator name</mat-label>
          <input  matInput ngModel name="name" #name="ngModel" placeholder="Name">
          <mat-hint>Enter the name of administrator</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Administrator surname</mat-label>
          <input  matInput ngModel name="surname" #surname="ngModel" placeholder="Surname">
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>JMBG</mat-label>
          <input  matInput ngModel name="jmbg" #jmbg="ngModel" placeholder="xxxxxxxxxxxxx">
          <mat-hint>Enter 13 digit number</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-select   ngModel name="gender" #gender="ngModel">
              <mat-option [value]='0' >Male</mat-option>
              <mat-option  [value]='1' >Female</mat-option>
          </mat-select>
          <mat-label>Gender</mat-label>
          <mat-hint></mat-hint>
      </mat-form-field>
     
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput ngModel name="email" #email="ngModel" placeholder="emailaddres@gmail.com">
          <mat-hint>Enter administators email</mat-hint>
        </mat-form-field>

       
          <mat-form-field appearance="legacy">
            <mat-label>Street</mat-label>
            <input  matInput ngModel name="street" #street="ngModel" placeholder="Street">
            <mat-hint>Enter street</mat-hint>
          </mat-form-field>
    
          <mat-form-field appearance="legacy">
            <mat-label>Number</mat-label>
            <input  matInput ngModel name="number" #number="ngModel" placeholder="Number">
            <mat-hint>Enter number</mat-hint>
          </mat-form-field>
    
          <mat-form-field appearance="legacy">
            <mat-label>City</mat-label>
            <input  matInput ngModel name="city" #city="ngModel" placeholder="City">
            <mat-hint>Enter city</mat-hint>
          </mat-form-field>
    
          <mat-form-field appearance="legacy">
            <mat-label>Country</mat-label>
            <input  matInput ngModel name="country" #country="ngModel" placeholder="Country">
            <mat-hint>Enter country</mat-hint>
          </mat-form-field>
        
        <mat-form-field appearance="legacy">
          <mat-select  ngModel name="bc" #bc="ngModel">
              <mat-option   [value]="i" *ngFor="let i of bloodCenters">
              {{i.name}}
              </mat-option>
          </mat-select>
          <mat-label>Blood center</mat-label>
          <mat-hint></mat-hint>
      </mat-form-field>
      <button mat-button>Subbmit</button>
      </div>
</form>
      
   
<form #bloodCenterForm='ngForm' (ngSubmit)="getbloodCenter(bloodCenterForm.value)">
        <div class="rgform">
          <div class="info">
            <p class="title"> Blood center informations</p>
          </div>

          <mat-form-field appearance="legacy">
            <mat-label>Blood center name</mat-label>
            <input matInput ngModel name="name" #name="ngModel" placeholder="Name">
            <mat-hint>Enter full name of blood center</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Street</mat-label>
            <input  matInput ngModel name="street" #street="ngModel" placeholder="Street">
            <mat-hint>Enter street</mat-hint>
          </mat-form-field>
    
          <mat-form-field appearance="legacy">
            <mat-label>Number</mat-label>
            <input  matInput ngModel name="number" #number="ngModel" placeholder="Number">
            <mat-hint>Enter number</mat-hint>
          </mat-form-field>
    
          <mat-form-field appearance="legacy">
            <mat-label>City</mat-label>
            <input  matInput ngModel name="city" #city="ngModel" placeholder="City">
            <mat-hint>Enter city</mat-hint>
          </mat-form-field>
    
          <mat-form-field appearance="legacy">
            <mat-label>Country</mat-label>
            <input  matInput ngModel name="country" #country="ngModel" placeholder="Country">
            <mat-hint>Enter country</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Description</mat-label>
            <input matInput ngModel name="description" #description="ngModel" placeholder="Description">
            <mat-hint>Shortly describe blood center</mat-hint>
          </mat-form-field>
          <button mat-button>Subbmit</button>
          
        </div>
      
</form>