<p>my-prfile works!</p>
<div class="profile-div">
    <div class="left">
        <mat-label>Name</mat-label>
        <mat-label class="left-user-name">{{medStaff.name}} {{medStaff.surname}}</mat-label>
        <mat-label>Jmbg</mat-label>
        <mat-label class="left-user-name">{{medStaff.jmbg}}</mat-label>
        <mat-label>Gender</mat-label>
        <mat-label class="left-user-name">{{medStaff.gender}}</mat-label>
        <mat-label>E-mail</mat-label>
        <mat-label class="left-user-name">{{medStaff.email}}</mat-label>
      
    </div>
</div>
