<p>my-center works!</p>
<div class="profile-div">
    <div class="left">
        <mat-label>Name</mat-label>
        <mat-label class="left-user-name">{{bloodCenter.name}}</mat-label>
        <mat-label>Address</mat-label>
        <mat-label class="left-user-name">{{bloodCenter.street}} {{bloodCenter.streetNum}}</mat-label>
        <mat-label class="left-user-name">{{bloodCenter.city}}  {{bloodCenter.country}}</mat-label>
        <mat-label>Description</mat-label>
        <mat-label class="left-user-name">{{bloodCenter.description}}</mat-label>
        <mat-label>Average score</mat-label>
        <mat-label class="left-user-name">{{bloodCenter.avarageScore}}</mat-label>
    </div>
</div>
