
  <div class="profile-div">
    <div class="left">
        <img class="profile-pic" src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png">
        <mat-label class="user-name">{{loggedUser.name}} {{loggedUser.surname}}</mat-label>
        <mat-label class="email">{{loggedUser.email}}</mat-label>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="right">
        <mat-label class="heading">PERSONAL DETAILS</mat-label>
        <form #editForm="ngForm" (ngSubmit)="updateUser(editForm.value)">
          <table>
              <tr>
                  <td>
                      <mat-label class="p-question">Last name</mat-label>
                      <input name="surname" ngModel="{{editUser?.surname}}" type="text">
                  </td>
                  <td>
                      <mat-label class="p-question">First name</mat-label>
                      <input ngModel="{{editUser?.name}}" name="name" type="text">
                  </td>
                  <td>
                      <mat-label class="p-question">Gender</mat-label>
                      <mat-select name="gender" ngModel="{{editUser?.gender}}">
                        <mat-option value="0">Male</mat-option>
                        <mat-option value="1">Female</mat-option>
                      </mat-select>
                  </td>
                  <td>
                      <mat-label class="p-question">JMBG</mat-label>
                      <input ngModel="{{editUser?.jmbg}}" matInput name="jmbg" type="text">
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-label class="p-question">Street</mat-label>
                      <input ngModel="{{editAddress?.street}}" matInput name="street" type="text">
                  </td>
                  <td>
                    <mat-label class="p-question">Number</mat-label>
                    <input ngModel="{{editAddress?.number}}" matInput name="number" type="text">
                </td>
                <td>
                    <mat-label class="p-question">City</mat-label>
                    <input ngModel="{{editAddress?.city}}" matInput name="city" type="text">
                </td>
                <td>
                    <mat-label class="p-question">Country</mat-label>
                    <input ngModel="{{editAddress?.country}}" matInput name="country" type="text">
                </td>
                <td>
                    <input hidden="true" ngModel="{{editUser?.id}}" matInput name="id" type="text">
                    <input hidden="true" ngModel="{{editUser?.email}}" matInput name="email" type="text">
                    <input hidden="true" ngModel="{{editUser?.category}}" matInput name="category" type="text">
                    <input hidden="true" ngModel="{{editUser?.points}}" matInput name="points" type="text">
                    <input hidden="true" ngModel="{{editUser?.penalties}}" matInput name="penalties" type="text">
                    <input hidden="true" ngModel="{{editUser?.password}}" matInput name="password" type="text">
                    <input hidden="true" ngModel="{{editUser?.version}}" matInput name="version" type="text">
                    <input hidden="true" ngModel="{{editUser?.phone}}" matInput name="phone" type="text">
                    <input hidden="true" ngModel="{{editAddress?.id}}" matInput name="addressId" type="text">
                    <input hidden="true" ngModel="{{editUser?.lastPasswordResetDate}}" matInput name="lastPasswordResetDate" type="text">
                    
                </td>
              </tr>
              <tr>
                <td>
                    <mat-label class="p-question">Occupation</mat-label>
                    <input id="occupation" ngModel="{{editUser?.occupation}}" matInput name="occupation" type="text" >
                </td>
                  <td>
                      <mat-label class="p-question">Job or Scool Info</mat-label>
                      <input id="job" ngModel="{{editUser?.jobOrSchoolInfo}}" matInput name="jobOrSchoolInfo" type="text">
                  </td>
              </tr>
          </table>
          <button mat-raised-button type="submit">Save changes</button>
        </form>
        <mat-label class="heading">LOYALITY PROGRAM</mat-label>
        <table>
            <tr>
                <td>
                    <mat-label class="p-question">Category</mat-label>
                    <mat-label calss="p-answer">{{loggedUser.category}}</mat-label>
                </td>
                <td>
                    <mat-label class="p-question">Points</mat-label>
                    <mat-label calss="p-answer">{{loggedUser.points}}</mat-label>
                </td>
                <td>
                    <mat-label class="p-question">Penalties</mat-label>
                    <mat-label calss="p-answer">{{loggedUser.penalties}}</mat-label>
                </td>
            </tr>
        </table>
    </div>
</div>